<div fxLayout="row" style="padding-top: 10vh;" fxLayoutAlign="center" ngClass.xs="container-xs">
  <div fxFlex.gt-xs="50" fxLayoutAlign="center">
    <h1 i18n>We would love to hear your feedback.</h1>
  </div>
</div>
<div fxLayout="row" style="padding-bottom: 10vh;" fxLayoutAlign="center" ngClass.xs="container-xs">
  <form [formGroup]="contactForm" *ngIf="contactForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center" ngStyle.lt-lg="width: 50vw;" ngStyle.lg="width: 45vw;"
      ngStyle.gt-lg="width: 30vw;">
      <mat-form-field appearance="outline">
        <mat-label i18n>Company</mat-label>
        <input matInput placeholder="Company" formControlName="company">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>First name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>
        <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')" i18n>
          First name is <strong>required.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Last name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName" required>
        <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')" i18n>
          Last name is <strong>required.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="contactForm.get('email').hasError('email') && !contactForm.get('email').hasError('required')"
          i18n>
          Please provide a <strong>valid</strong> email.
        </mat-error>
        <mat-error *ngIf="contactForm.get('email').hasError('required')" i18n>
          Email is <strong>required.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Subject</mat-label>
        <input matInput placeholder="Subject" formControlName="subject" required>
        <mat-error *ngIf="contactForm.controls['subject'].hasError('required')" i18n>
          Subject is <strong>required.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label i18n>Message</mat-label>
        <textarea matInput cdkTextareaAutosize #notes #autosize="cdkTextareaAutosize"
          placeholder="Write down your message..." cdkAutosizeMinRows="3" formControlName="message" required></textarea>
        <mat-error *ngIf="contactForm.controls['message'].hasError('required')" i18n>
          Message is <strong>required.</strong>
        </mat-error>
      </mat-form-field>
      <div fxLayoutAlign="end" fxFlex="100">
        <button mat-raised-button type="submit" color="primary" [disabled]="!contactForm.valid" cdkFocusInitial
          i18n>Send</button>
      </div>
    </div>
  </form>
</div>