<!-- Header Start -->
<div fxLayout="row" fxLayout.xs="column" style="padding-top:10vh; padding-bottom: 10vh;" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex.gt-xs="30" ngStyle.gt-xs="padding-right: 5vw;" ngClass.xs="container-xs">
        <h1 i18n>Hi, we are ML Aide, and our purpose is to make Your Machine Learning operable!</h1>
        <div>
            <button mat-flat-button color="accent">Get Started</button>
        </div>
    </div>
    <div fxFlex.gt-xs="30">
        <img class="img-logo" src="../../../assets/Home/ai-2.png">
    </div>
</div>
<!-- Header End -->
<!-- USP Start -->
<div fxLayout="row" class="bg-primary-800" fxLayoutAlign="center" style="padding-top: 5vh;" ngClass.xs="container-xs">
    <h1 i18n>ML Aide is designed and developed to be</h1>
</div>
<div fxLayout="row" fxLayout.xs="column" class="bg-primary-800" style="padding-bottom: 10vh;"
    fxLayoutAlign="space-around start" ngClass.xs="container-xs">
    <div fxFlex.gt-xs="15">
        <h2 i18n>Diverse</h2>

        <body i18n>
            <b>Supports every ML Library</b> for complete freedom
        </body>
        <div fxHide.gt-xs>
            <span>
                <h2></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15">
        <h2 i18n>Transparent</h2>

        <body i18n>
            <b>Provided Open Source</b> for maximum transparency
        </body>
        <div fxHide.gt-xs>
            <span>
                <h2></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15">
        <h2 i18n>Independent</h2>

        <body i18n>
            <b>Runs on every Cloud platform or On-Premises</b> for complete independence
        </body>
        <div fxHide.gt-xs>
            <span>
                <h2></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15">
        <h2 i18n>Scalable</h2>

        <body i18n>
            <b>Scalable from single user to large enterprises</b> and ready for growing demands
        </body>
        <div fxHide.gt-xs>
            <span>
                <h2></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15">
        <h2 i18n>Effective</h2>

        <body i18n>
            <b>Accelerates MLOps for more focus on</b> what really matters: <b>Your Business</b>
        </body>
        <div fxHide.gt-xs>
            <span>
                <h2></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
</div>
<!-- USP End -->
<!-- Key Features Start -->
<div fxLayout="row" style="padding-top: 10vh; background-color: whitesmoke;" fxLayoutAlign="center"
    ngClass.xs="container-xs">
    <h1 i18n>Take a few moments to look at our key features:</h1>
</div>
<div *ngFor="let keyFeature of keyFeatures; let last=last; let odd=odd; let even=even;">
    <div *ngIf="odd" fxLayout="row" fxLayout.xs="column"
        style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;" fxLayoutAlign="center"
        ngClass.xs="container-xs">
        <div fxLayout="column" fxFlex.gt-xs="20">
            <h2 i18n>{{keyFeature.title}}</h2>

            <body i18n>
                {{keyFeature.content}}
            </body>
        </div>
        <div fxFlex.gt-xs="20">
            <img class="img-logo" [src]="keyFeature.imgUrl">
        </div>
    </div>
    <div *ngIf="even" fxLayout="row" fxLayout.xs="column"
        style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;" fxLayoutAlign="center"
        ngClass.xs="container-xs">
        <div fxFlex.gt-xs="20">
            <img class="img-logo" [src]="keyFeature.imgUrl">
        </div>
        <div fxLayout="column" fxFlex.gt-xs="20">
            <h2 i18n>{{keyFeature.title}}</h2>

            <body i18n>
                {{keyFeature.content}}
            </body>
        </div>

    </div>
    <div *ngIf="!last" fxLayout="row" style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;"
        fxLayoutAlign="center" ngClass.xs="container-xs">
        <mat-divider fxFlex="60"></mat-divider>
    </div>
</div>


<!-- Key Features End -->