<!-- Header Start -->
<div
  fxLayout="row"
  fxLayout.xs="column"
  style="padding-top: 10vh; padding-bottom: 10vh;"
  ngClass.xs="container-xs"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="column"
    fxFlex.gt-xs="40"
    ngStyle.gt-xs="padding-right: 5vw;"
  >
    <h1 class="mat-display-3" i18n>
      ML Aide is <span class="font-primary-800"> the only ML-Management tool that takes Data Ownership seriously </span> and lets you in control of your data!
    </h1>
    <div fxLayout="row" fxLayoutAlign="end" style="margin-bottom: 24px">
      <button [routerLink]="['/']" fragment="why-ml-model-management" class="margin-r-reg" mat-stroked-button color="accent"
      >Why ML Model Management?</button>
      <button [routerLink]="['/']" fragment="why-ml-aide" mat-stroked-button color="primary"
      >Why ML Aide?</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <a href="https://docs.mlaide.com" mat-flat-button color="accent"
         class="margin-r-reg">Get Started</a
      >
      <a href="https://calendly.com/mlaide/demo" mat-flat-button color="primary"
         target="_blank"
      >Book a demo</a>
    </div>
  </div>
  <div fxFlex.gt-xs="30" fxHide.xs>
    <img class="img-logo" src="../../../assets/Home/Logo_red_eyes_round.png" alt="ML Aide Logo" />
  </div>
</div>
<div fxLayout="row" class="bg-change-white-to-blue"></div>
<!-- Header End -->
<!-- USP Start -->
<div
  fxLayout="row"
  class="bg-primary-800"
  fxLayoutAlign="center"
  style="padding-top: 5vh"
  ngClass.xs="container-xs"
>
  <h2 class="mat-display-2" i18n>ML Aide is designed and developed to be</h2>
</div>
<div
  fxLayout="row"
  fxLayout.xs="column"
  class="bg-primary-800"
  style="padding-bottom: 10vh"
  fxLayoutAlign="space-around start"
  ngClass.xs="container-xs"
>
  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >business
        </mat-icon>
      </h2>
      <h2 class="mat-h2" style="text-align: center" i18n>Enterprise-ready</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Identity, security, and integrity </strong> as a first-class citizen
    </span>
    <div fxHide.gt-xs>
      <span>
        <h2 class="mat-h2"></h2>
      </span>
      <mat-divider style="border-color: white; width: 80vw"></mat-divider>
    </div>
  </div>
  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >settings_overscan
        </mat-icon>
      </h2>
      <h2 class="mat-h2" i18n>Diverse</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Supports every ML library</strong> for complete freedom
    </span>
    <div fxHide.gt-xs>
      <span>
        <h2 class="mat-h2"></h2>
      </span>
      <mat-divider style="border-color: white; width: 80vw"></mat-divider>
    </div>
  </div>

  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >remove_red_eye
        </mat-icon>
      </h2>
      <h2 class="mat-h2" i18n>Transparent</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Provided open source</strong> for maximum transparency
    </span>
    <div fxHide.gt-xs>
      <span>
        <h2 class="mat-h2"></h2>
      </span>
      <mat-divider style="border-color: white; width: 80vw"></mat-divider>
    </div>
  </div>
  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >device_hub
        </mat-icon>
      </h2>
      <h2 class="mat-h2" i18n>Independent</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Runs on every cloud platform or on-premises</strong> for complete
      independence
    </span>
    <div fxHide.gt-xs>
      <span>
        <h2 class="mat-h2"></h2>
      </span>
      <mat-divider style="border-color: white; width: 80vw"></mat-divider>
    </div>
  </div>
  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >trending_up
        </mat-icon>
      </h2>
      <h2 class="mat-h2" i18n>Scalable</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Scalable from single user to large enterprises</strong> and ready
      for growing demands
    </span>
    <div fxHide.gt-xs>
      <span>
        <h2 class="mat-h2"></h2>
      </span>
      <mat-divider style="border-color: white; width: 80vw"></mat-divider>
    </div>
  </div>
  <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">
        <mat-icon
          class="md-48 md-bg-circle-48 bg-accent-800"
          fxLayoutAlign="center center"
          >watch</mat-icon
        >
      </h2>
      <h2 class="mat-h2" i18n>Effective</h2>
    </div>
    <span class="mat-body" style="text-align: center" i18n>
      <strong>Accelerates MLOps for more focus on</strong> what really matters:
      <strong>Your business</strong>
    </span>
  </div>
</div>
<!-- USP End -->
<!-- Why Model Management Start -->
<div  fxLayout="row"
      fxLayout.xs="column"
      ngClass.xs="container-xs"
      class="bg-dark font-white"
      style="padding-top: 10vh; padding-bottom: 10vh;"
      fxLayoutAlign="center center"
      id="why-ml-model-management">
  <div
    fxLayout="column"
    fxFlex.gt-xs="60"
    ngStyle.gt-xs="padding-right: 5vw;"
  >
    <h2 class="mat-display-3" i18n>
      Why ML Model Management?
    </h2>
    <h4 class="mat-display-1" style="margin-bottom: 24px" i18n>
      ML model management software enables your data science team <span class="font-accent-800"> to work together more efficiently and effectively</span>,
      track model performance, and deploy models smoothly while ensuring their security.
    </h4>
    <mat-list>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-accent-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle class="font-white">Collaborate effectively in a team by sharing all the models, code, and data in a centralized repository.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-accent-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle class="font-white">Ensure the reproducibility of your ML models by versioning the dependencies and configurations.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-accent-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle class="font-white">Track your ML models' performance and continuously improve your competitive advantage.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-accent-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle class="font-white">Deploy models smoothly and automatically and improve the quality and reliability of your models.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-accent-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle class="font-white">Reduced costs by automated processes and optimized resource allocation.</div>
      </mat-list-item>
    </mat-list>
    <div fxLayout="row" class="margin-t-reg" fxLayoutAlign="end">
      <a href="https://medium.com/ml-aide/manage-machine-learning-lifecycle-with-ml-aide-dfe7710cbe53" mat-stroked-button color="accent"
         target="_blank"
      >

        <h4 ngClass.gt-xs="mat-headline" i18n>Learn how to manage your ML lifecycle with ML Aide</h4>
      </a>
    </div>
  </div>
</div>
<!-- Why Model Management End -->
<!-- Why ML Aide Start-->
<div  fxLayout="row"
      fxLayout.xs="column"
      style="padding-top: 10vh; padding-bottom: 10vh;"
      fxLayoutAlign="center center"
      id="why-ml-aide">
  <div
    fxLayout="column"
    fxFlex.gt-xs="35"
    ngStyle.gt-xs="padding-right: 5vw;"
    ngClass.xs="container-xs"
  >
    <h2 class="mat-display-3" i18n>
      Why ML Aide?
    </h2>
    <h4 class="mat-display-1" style="margin-bottom: 24px" i18n>
      ML Aide is <span class="font-primary-800">the most sophisticated free and open-source ml model management tool on the market</span> that supports you in reducing overall costs by streamlining your machine-learning workflow!
    </h4>
    <mat-list>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-primary-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle>Free and open-source version provides all required features to gain cost-effectivness.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-primary-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle>Data ownership for you by default - others won't give you this power for free.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-primary-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle>Access-controll for all your artefacts to secure your competitive advantage.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-primary-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle>Centralized respository for shared projects enable collaboration in your team.</div>
      </mat-list-item>
      <mat-list-item ngStyle.xs="padding-bottom: 16px;">
        <mat-icon class="font-primary-800 margin-r-reg"  matListItemIcon>check_circle</mat-icon>
        <div matListItemTitle>Easy integration in your existing IT-infrastructure guarantees a smooth start.</div>
      </mat-list-item>
    </mat-list>
    <h4 class="mat-display-1" style="margin-bottom: 24px" i18n>
    Join the ML Aide community and unlock the true power of your machine learning projects!
    </h4>
    <div fxLayout="row" fxLayoutAlign="end">
      <a href="https://docs.mlaide.com" mat-flat-button color="accent"
         class="margin-r-reg">Get Started</a
      >
      <a href="https://calendly.com/mlaide/demo" mat-flat-button color="primary"
         target="_blank"
      >Book a demo</a>
    </div>
  </div>
  <div fxFlex.gt-xs="35">
    <img class="img-logo" src="../../../assets/Home/why-ml-model-management.png" alt="ML Model Management Picture" />
    <div fxLayout="row" class="margin-t-reg" fxLayoutAlign="end">
    <button   [routerLink]="['/']" fragment="ml-aide-key-features" mat-stroked-button color="primary"
       target="_blank"
    > <h4 ngClass.gt-xs="mat-headline" i18n>Learn more about our features</h4></button>
      </div>
  </div>
</div>
<!-- Why ML Aide End -->
<!-- Data & Information Security Start -->
<div
  class="bg-primary-800"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  style="padding-top: 5vh; padding-bottom: 5vh"
  ngClass.xs="container-xs"
>
  <div
    fxLayout="column"
    fxFlex.gt-xs="30"
    ngStyle.gt-xs="padding-right: 5vw;"
    ngClass.xs="container-xs"
  >
    <h2 class="mat-display-3" i18n>
      We care about data and information security and let you in full control of data storage and access!
    </h2>
  </div>
  <div fxFlex.gt-xs="30">
    <img class="img-logo" src="../../../assets/Home/data-information-security.png" alt="ML Aide High Level System Architecture" />
  </div>

</div>
<!-- Data & Information Security End -->
<!-- Key Features Start -->
<div
  fxLayout="row"
  style="padding-top: 10vh; background-color: whitesmoke"
  fxLayoutAlign="center"
  ngClass.xs="container-xs"
  id="ml-aide-key-features"
>
  <div fxFlex.gt-xs="60">
    <h2 class="mat-display-3" i18n>
      ML Aide Features
    </h2>
    <h2 class="mat-display-2" i18n>
      Track all relevant information of your machine learning models with ML
      Aide to manage your model lifecycle from training to retirement.
    </h2>
  </div>
</div>
<div
  *ngFor="
    let keyFeature of keyFeatures;
    let last = last;
    let odd = odd;
    let even = even
  "
>
  <div
    *ngIf="odd"
    fxLayout="row"
    fxHide
    fxShow.gt-xs
    style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke"
    fxLayoutAlign="center center"
    ngClass.xs="container-xs"
  >
    <div fxLayout="column" fxFlex.gt-xs="20">
      <h2 class="mat-h2 font-triadic-2" i18n>{{ keyFeature.title }}</h2>

      <span class="mat-body" i18n>
        {{ keyFeature.content }}
      </span>
    </div>
    <h2 ngClass.xs="mat-h2"></h2>
    <div fxFlex.gt-xs="30" ngStyle.gt-xs="margin-left:5vw;">
      <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl" [alt]="keyFeature.altMessage" />
    </div>
  </div>
  <div
    *ngIf="even"
    fxLayout="row"
    fxHide
    fxShow.gt-xs
    style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke"
    fxLayoutAlign="center center"
    ngClass.xs="container-xs"
  >
    <div fxFlex.gt-xs="30" ngStyle.gt-xs="margin-right:5vw;">
      <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl" [alt]="keyFeature.altMessage"/>
    </div>
    <div fxLayout="column" fxFlex.gt-xs="20">
      <h2 class="mat-h2 font-triadic-2" i18n>{{ keyFeature.title }}</h2>

      <span class="mat-body" i18n>
        {{ keyFeature.content }}
      </span>
    </div>
  </div>
  <div
    fxLayout.xs="column"
    fxHide
    fxShow.xs
    style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke"
    fxLayoutAlign="center center"
    ngClass.xs="container-xs"
  >
    <div fxLayout="column" fxFlex.gt-xs="20">
      <h2 class="mat-h2 font-triadic-2" i18n>{{ keyFeature.title }}</h2>

      <span class="mat-body" i18n>
        {{ keyFeature.content }}
      </span>
    </div>
    <h2 class="mat-h2"></h2>
    <div fxFlex.gt-xs="30" ngStyle.gt-xs="margin-left:5vw;">
      <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl" [alt]="keyFeature.altMessage"/>
    </div>
  </div>
  <div
    *ngIf="!last"
    fxLayout="row"
    style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke"
    fxLayoutAlign="center"
    ngClass.xs="container-xs"
  >
    <mat-divider fxFlex.gt-xs="60" fxFlex.xs="100"></mat-divider>
  </div>
</div>
<!-- Key Features End -->

<!-- Integration of ML Frameworks Start -->
<div
  fxLayout="row"
  style="padding-top: 10vh;"
  fxLayoutAlign="center"
  ngClass.xs="container-xs"
>
  <h2 class="mat-display-2" i18n>Convenient integrations with:</h2>
</div>
<div
  fxLayout="row"
  fxLayout.xs="column"
  style="padding-bottom: 10vh"
  ngStyle.gt-xs="padding-left:25vw; padding-right: 25vw"
  fxLayoutAlign="space-around center"
  ngClass.xs="container-xs"
>
  <div *ngFor="let mlFramework of mlFrameworks; let last = last;" fxLayoutAlign.xs="center center">
    <img
      class="img-ml-framework"
      [ngClass.xs]="last? 'img-ml-framework-xs-last' : 'img-ml-framework-xs'"
      [src]="mlFramework.imgUrl"
      [alt]="mlFramework.altMessage"/>
  </div>
</div>
<!-- Integration of ML Frameworks End -->
<!-- Features Roadmap Start -->
<div
  fxLayout="row"
  style="padding-top: 10vh; background-color: whitesmoke"
  fxLayoutAlign="center"
  ngClass.xs="container-xs"
>
  <h2 class="mat-display-2" i18n>And there is much more to come:</h2>
</div>
<div
  fxLayout="row"
  style="padding-bottom: 10vh; background-color: whitesmoke"
  fxLayoutAlign="center"
  ngClass.xs="container-xs"
>
  <div fxLayout="column">
    <div
      *ngFor="let entry of roadmap"
      fxLayoutAlign="start end"
      fxLayoutAlign.xs="start start"
      style="margin-top: 16px; margin-bottom: 16px"
    >
      <mat-icon mat-list-icon>star</mat-icon>

      <span class="mat-body" fxFlexOffset="16px" i18n>{{ entry.content }}</span>
    </div>
  </div>
</div>
<!-- Features Roadmap End -->
