.bg-change-white-to-blue {
    background: linear-gradient(to right top, #195cc1 49%, #fff 50%);
    padding-top:10vh;
}

.img-logo{
    width:100%;
    height:auto;
}

.img-feature{
    width:100%;
    height:auto;
    border-radius: 4px;
}

.img-ml-framework{
  width:15vw;
  height:auto;
}

.img-ml-framework-xs{
  width:50%;
  height:auto;
  padding-bottom: 5vh;
}

.img-ml-framework-xs-last{
  width:50%;
  height:auto;
}
