<!-- Header Start -->
<div fxLayout="row" fxLayout.xs="column" style="padding-top:10vh; padding-bottom: 10vh;" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex.gt-xs="30" ngStyle.gt-xs="padding-right: 5vw;" ngClass.xs="container-xs">
        <h1 class="mat-display-2" class="mat-display-2" i18n>Hi, we are ML Aide, and our purpose is to make Your Machine
            Learning operable!
        </h1>
        <div>
            <button mat-flat-button color="accent">Get Started</button>
        </div>
    </div>
    <div fxFlex.gt-xs="30" fxHide.xs>
        <img class="img-logo" src="../../../assets/Home/ai-2.png">
    </div>
</div>
<div fxLayout="row" class="bg-change-white-to-blue">
</div>
<!-- Header End -->
<!-- USP Start -->
<div fxLayout="row" class="bg-primary-800" fxLayoutAlign="center" style="padding-top: 5vh;" ngClass.xs="container-xs">
    <h1 class="mat-display-2" i18n>ML Aide is designed and developed to be</h1>
</div>
<div fxLayout="row" fxLayout.xs="column" class="bg-primary-800" style="padding-bottom: 10vh;"
    fxLayoutAlign="space-around start" ngClass.xs="container-xs">
    <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-h2">
                <mat-icon class="md-48 md-bg-circle-48 bg-accent-800" fxLayoutAlign="center center">settings_overscan
                </mat-icon>
            </h2>
            <h2 class="mat-h2" i18n>Diverse</h2>
        </div>
        <span i18n style="text-align: center;">
            <strong>Supports every ML Library</strong> for complete freedom
        </span>
        <div fxHide.gt-xs>
            <span>
                <h2 class="mat-h2"></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-h2">
                <mat-icon class="md-48 md-bg-circle-48 bg-accent-800" fxLayoutAlign="center center">remove_red_eye
                </mat-icon>
            </h2>
            <h2 class="mat-h2" i18n>Transparent</h2>
        </div>
        <span i18n style="text-align: center;">
            <strong>Provided Open Source</strong> for maximum transparency
        </span>
        <div fxHide.gt-xs>
            <span>
                <h2 class="mat-h2"></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-h2">
                <mat-icon class="md-48 md-bg-circle-48 bg-accent-800" fxLayoutAlign="center center">device_hub
                </mat-icon>
            </h2>
            <h2 class="mat-h2" i18n>Independent</h2>
        </div>
        <span i18n style="text-align: center;">
            <strong>Runs on every Cloud platform or On-Premises</strong> for complete independence
        </span>
        <div fxHide.gt-xs>
            <span>
                <h2 class="mat-h2"></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-h2">
                <mat-icon class="md-48 md-bg-circle-48 bg-accent-800" fxLayoutAlign="center center">trending_up
                </mat-icon>
            </h2>
            <h2 class="mat-h2" i18n>Scalable</h2>
        </div>
        <span i18n style="text-align: center;">
            <strong>Scalable from single user to large enterprises</strong> and ready for growing demands
        </span>
        <div fxHide.gt-xs>
            <span>
                <h2 class="mat-h2"></h2>
            </span>
            <mat-divider style="border-color:white; width: 80vw"></mat-divider>
        </div>
    </div>
    <div fxFlex.gt-xs="15" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-h2">
                <mat-icon class="md-48 md-bg-circle-48 bg-accent-800" fxLayoutAlign="center center">watch</mat-icon>
            </h2>
            <h2 class="mat-h2" i18n>Effective</h2>
        </div>
        <span i18n style="text-align: center;">
            <strong>Accelerates MLOps for more focus on</strong> what really matters: <strong>Your Business</strong>
        </span>
    </div>
</div>
<!-- USP End -->
<!-- Key Features Start -->
<div fxLayout="row" style="padding-top: 10vh; background-color: whitesmoke;" fxLayoutAlign="center"
    ngClass.xs="container-xs">
    <div fxFlex.gt-xs="50">
        <h1 class="mat-display-2" i18n>
            Track all the relevant information of your machine learning models with ML Aide
            to ensure reproducibility and reusability making your machine learning development
            lifecycle reliable and operable.
        </h1>
    </div>
</div>
<div *ngFor="let keyFeature of keyFeatures; let last=last; let odd=odd; let even=even;">
    <div *ngIf="odd" fxLayout="row" fxHide fxShow.gt-xs
        style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;" fxLayoutAlign="center center"
        ngClass.xs="container-xs">
        <div fxLayout="column" fxFlex.gt-xs="20">
            <h2 class="mat-h2" i18n>{{keyFeature.title}}</h2>

            <span i18n>
                {{keyFeature.content}}
            </span>
        </div>
        <h2 ngClass.xs="mat-h2"></h2>
        <div fxFlex.gt-xs=30 ngStyle.gt-xs="margin-left:5vw;">
            <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl">
        </div>
    </div>
    <div *ngIf="even" fxLayout="row" fxHide fxShow.gt-xs
        style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;" fxLayoutAlign="center center"
        ngClass.xs="container-xs">
        <div fxFlex.gt-xs="30" ngStyle.gt-xs="margin-right:5vw;">
            <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl">
        </div>
        <div fxLayout="column" fxFlex.gt-xs="20">
            <h2 class="mat-h2" class="mat-h2" i18n>{{keyFeature.title}}</h2>

            <span i18n>
                {{keyFeature.content}}
            </span>
        </div>
    </div>
    <div fxLayout.xs="column" fxHide fxShow.xs
        style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;" fxLayoutAlign="center center"
        ngClass.xs="container-xs">
        <div fxLayout="column" fxFlex.gt-xs="20">
            <h2 class="mat-h2" i18n>{{keyFeature.title}}</h2>

            <span i18n>
                {{keyFeature.content}}
            </span>
        </div>
        <h2 class="mat-h2"></h2>
        <div fxFlex.gt-xs=30 ngStyle.gt-xs="margin-left:5vw;">
            <img class="img-feature mat-elevation-z2" [src]="keyFeature.imgUrl">
        </div>
    </div>
    <div *ngIf="!last" fxLayout="row" style="padding-top: 5vh; padding-bottom: 5vh; background-color: whitesmoke;"
        fxLayoutAlign="center" ngClass.xs="container-xs">
        <mat-divider fxFlex.gt-xs="60" fxFlex.xs="100"></mat-divider>
    </div>
</div>
<!-- Key Features End -->
<!-- Features Roadmap Start -->
<div fxLayout="row" style="padding-top: 10vh" fxLayoutAlign="center" ngClass.xs="container-xs">
    <h1 class="mat-display-2" i18n>And there is much more to come:</h1>
</div>
<div fxLayout="row" style="padding-bottom: 10vh" fxLayoutAlign="center" ngClass.xs="container-xs">
    <div fxLayout="column">
        <div *ngFor="let entry of roadmap" fxLayoutAlign="start end" fxLayoutAlign.xs="start start"
            style="margin-top: 16px; margin-bottom: 16px;">
            <mat-icon mat-list-icon>star</mat-icon>

            <span fxFlexOffset="16px" i18n>{{entry.content}}</span>
        </div>
    </div>
</div>
<!-- Features Roadmap End -->