<!-- NavBar Start -->
<div fxLayout="row">
  <mat-toolbar color="primary">
    <div fxFlex="50" fxLayoutAlign="start center">
      Home
    </div>

    <div fxFlex="50" fxLayoutAlign="end center">
      <button mat-button aria-label="Link to Pricing" i18n>Pricing</button>
      <button mat-button aria-label="Link to Docs" i18n>Docs</button>
      <button mat-button aria-label="Link to Contact" i18n>Contact</button>
      <button mat-flat-button color="accent" aria-label="Link to Login" i18n>Login</button>
    </div>

  </mat-toolbar>
</div>
<!-- NavBar End -->
<!-- RouterOutlet Start -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- RouterOutlet End -->
<!-- Footer Start -->
<div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 5vh; background-color: lightgray;">
  <div fxLayout="column">
    <button mat-button aria-label="Link to Imprint" i18n>Imprint</button>
    <button mat-button aria-label="Link to Privacy" i18n>Privacy</button>
    <button mat-button aria-label="Link to AGB" i18n>Terms of service</button>
  </div>
  <div fxLayout="column">
    <span class="mat-small">Copyright © 2021. Code licensed under Apache 2.0 License. Documentation licensed under CC BY
      4.0.</span>
  </div>
  <div fxLayout="column">
    <button mat-button aria-label="Link to Github" i18n>Github</button>
    <button mat-button aria-label="Link to Slack" i18n>Slack</button>
    <button mat-button aria-label="Link to Twitter" i18n>Twitter</button>
  </div>
</div>
<!-- Footer End -->