<!-- Header Start -->
<div fxLayout="column" style="padding-top:10vh; padding-bottom: 10vh;">
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <h1 class="mat-display-2" i18n>Hi there! We are</h1>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" ngClass.xs="container-xs" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxFlex.gt-xs="30" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="img-photo mat-elevation-z2" src="../../../assets/About-Us/Farruch.jpg">
                </div>
                <div>
                    <h3>Farruch</h3>
                </div>
            </div>
            <div fxLayout="column" ngClass.xs="container-xs" fxLayoutAlign="end end">
                <h1 class="mat-display-2">&</h1>
            </div>
            <div fxLayout="column" fxFlex.gt-xs="30" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="img-photo mat-elevation-z2" src="../../../assets/About-Us/Farruch.jpg">
                </div>
                <div>
                    <h3>Raman</h3>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <h1 class="mat-display-2" i18n>and we are the founders of ML Aide.</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
        <mat-divider fxFlex.gt-xs="80"></mat-divider>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <h1 class="mat-display-2" i18n>Our story</h1>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span i18n>Our Journey started in September 2020 in our lovely living rooms in Nuremberg, Germany. Since
                then,
                we strive to provide the very best solution for
                managing the machine learning development lifecycle.</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
        <mat-divider fxFlex.gt-xs="40"></mat-divider>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span i18n>Both of us are currently full-time employed at diffrent companies, so we are developing ML Aide
                as
                a side project at the moment. We are working totally agile with a clear MVP mindset focusing on our
                purpose: making machine learning operable. Actually, still from our living rooms in Nuremberg.</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
        <mat-divider fxFlex.gt-xs="40"></mat-divider>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span i18n>We ❤️ Feedback! Thus, we are promoting our solution to different companies to gather feedback and
                raise interest in our product. However, we really appreciate your feedback whenever you feel
                ready!</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
        <mat-divider fxFlex.gt-xs="40"></mat-divider>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span i18n>In case of questions, feedback, investment or any other queries, please do no hesitate to contact
                us via our
                contact form.</span>
        </div>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="end center">
            <a mat-button color="primary">Contact us</a>
        </div>
    </div>
</div>
<!-- Header End -->