<!-- Header Start -->
<div fxLayout="column" style="padding-top:10vh; padding-bottom: 10vh;">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="40" ngClass.xs="container-xs" fxLayoutAlign="space-around center">
            <h1 class="mat-display-2" i18n>Hi there, and a warm welcome to our story of ML Aide!</h1>
        </div>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <h1 class="mat-display-1" i18n>We are </h1>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayout.xs="column" fxFlex.gt-xs="50" fxFlex.xs="50" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxFlex.gt-xs="30" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="img-photo mat-elevation-z2" src="../../../assets/About-Us/Farruch.jpg">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div>
                        <h1 class="mat-h1"> <strong>Farruch</strong> Kouliev</h1>
                    </div>
                    <div>
                        <span class="mat-body" style="text-align: center;" i18n> A digital enthusiast and doer with
                            more than
                            five
                            years in project and team
                            leadership.</span>
                    </div>
                </div>
            </div>
            <div fxLayout="column" ngClass.xs="container-xs" fxLayoutAlign="end end">
                <h1 class="mat-display-1">&</h1>
            </div>
            <div fxLayout="column" fxFlex.gt-xs="30" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="img-photo mat-elevation-z2" src="../../../assets/About-Us/Farruch.jpg">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div>
                        <h1 class="mat-h1"> <strong>Ramandeep</strong> Singh</h1>
                    </div>
                    <div>
                        <span class="mat-body" style="text-align: center;" i18n> A digital enthusiast and doer with
                            more than
                            five
                            years in project and team
                            leadership.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <h1 class="mat-display-1" i18n>and we are the founders of ML Aide.</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-divider fxFlex="60"></mat-divider>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" style="padding-top:32px" fxLayoutAlign="center center">
        <h1 class="mat-display-1" i18n>Our story</h1>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span class="mat-body" i18n>Our Journey started in September 2020 in our lovely living rooms in Nuremberg,
                Germany. Since
                then,
                <strong>we strive to provide the very best solution for
                    managing the machine learning development lifecycle.</strong></span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span class="mat-body" i18n>Both of us are currently full-time employed at diffrent companies, so we are
                developing ML Aide
                as
                a side project at the moment. <strong>We are working totally agile with a clear MVP mindset focusing on
                    our
                    purpose: making machine learning operable.</strong> Actually, still from our living rooms in
                Nuremberg.</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="center center">
            <span class="mat-body" i18n><strong>We ❤️ Feedback!</strong> Thus, we are promoting our solution to
                different companies to
                gather feedback and
                raise interest in our product. However, <strong>we really appreciate your feedback whenever you feel
                    ready!</strong></span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>
            <h2 class="mat-h2"></h2>
        </span>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="start center">
            <span class="mat-body" i18n>In case of questions, feedback, investment or any other queries, please do no
                hesitate to contact
                us via our
                contact form.</span>
        </div>
    </div>
    <div fxLayout="row" ngClass.xs="container-xs" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex.gt-xs="50" fxLayoutAlign="end center">
            <a mat-button color="primary">Contact us</a>
        </div>
    </div>
</div>
<!-- Header End -->