// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-mlaide-blue: (
  50: #e2f1fe,
  100: #badbfc,
  200: #8dc5fb,
  300: #5faff8,
  400: #3b9ef7,
  500: #6088f4,
  600: #060707,
  700: #1a6dd3,
  800: #195cc1,
  900: #163ea2,
  A100: #badbfc,
  A200: #8dc5fb,
  A400: #6088f4,
  A700: #1a6dd3,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-mlaide-red: (
  50: #ffebee,
  100: #ffcdd1,
  200: #f59997,
  300: #ed716f,
  400: #f75049,
  500: #ff5b49,
  600: #ee332c,
  700: #dc2826,
  800: #cf1f1f,
  900: #960000,
  A100: #ffcdd1,
  A200: #f59997,
  A400: #ff5b49,
  A700: #dc2826,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mlaide-primary: mat-palette($mat-mlaide-blue, 800, 500, 900);
$mlaide-accent: mat-palette($mat-mlaide-red, 800, 500, 900);

// The warn palette is optional (defaults to red).
$mlaide-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mlaide-theme: mat-light-theme($mlaide-primary, $mlaide-accent, $mlaide-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mlaide-theme);

/* You can add global styles to this file, and also import other style files */
$primary: mat-color($mlaide-primary);
$accent: mat-color($mlaide-accent);
$warn: mat-color($mlaide-warn);

/**
*
* Colors
*
*/

// Background
.bg-primary-900 {
    background-color: mat-color($mlaide-primary, 900);
    color: white;
}
.bg-primary-800 {
    background-color: mat-color($mlaide-primary, 800);
    color: white;
}
.bg-primary-50 {
    background-color: mat-color($mlaide-primary, 50);
}

.bg-complementary {
  background-color: #c17e19;
}

.bg-triadic-1 {
  background-color: #7e19c1;
}

.bg-triadic-2 {
  background-color: #c1195c;
}

.bg-accent-800 {
    background-color: mat-color($mlaide-accent, 800);
    color: white;
}

.bg-accent-50 {
    background-color: mat-color($mlaide-accent, 50);
}

.bg-dark {
  background-color: #40404e;
}

// Font

.font-accent-800 {
    color: mat-color($mlaide-accent,800);
}

.font-primary-800 {
  color: mat-color($mlaide-primary,800);
}

.font-triadic-1 {
  color: #7e19c1;
}

.font-triadic-2 {
  color: #c1195c;
}

.font-white {
  color: white!important;
}

/**
*
* Containers
*
*/

.container-xs {
    padding-left: 10vw;
    padding-right: 10vw;
}

/**
*
* Margins
*
*/

.margin-r-reg {
  margin-right: 24px!important;
}

/**
*
* Icons
*
*/

// Size
.material-icons.md-18 {
font-size: 18px;
height:18px;
width:18px;
}

.material-icons.md-20 {
font-size: 20px,
}

.material-icons.md-24 {
font-size: 24px;
height:auto;
width:auto;
}
.material-icons.md-32 {
font-size: 32px;
height:32px;
width:32px;
}

.material-icons.md-36 {
font-size: 36px;
height:36px;
width:36px;
}
.material-icons.md-48 {
font-size: 48px;
height:48px;
width:48px;
}
.material-icons.md-96 {
font-size: 96px;
height:96px;
width:96px;
}

// Border
.material-icons.md-bg-circle-96{
    border-radius:50%;
    height:144px;
    width:144px;
}
.material-icons.md-bg-circle-48{
    border-radius:50%;
    height:72px;
    width:72px;
}

.material-icons.md-bg-circle-32{
    border-radius:50%;
    height:48px;
    width:48px;
}

.material-icons.md-bg-circle-24{
    border-radius:50%;
    height:36px;
    width:36px;
}

/*
* Snackbar
*/
.snackbar-failure {
    background-color: lightgray;
    color: $warn;
  }

h1, h2, h3, h4 {
    margin-top: 16px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a:link{
    color: inherit;
  }
  a:visited{
    color: inherit;
  }
  a:hover{
    color: inherit;
  }
  a:focus{
    color: inherit;
  }
  a:active{
    color: inherit;
  }
